<div class="container">
	<div class="row">
		<br>
		<br>
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">

					<h3 class="panel-title">Registration Form</h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<fieldset>
							<div class="form-group">
								<input class="form-control" ng-model="FirstName" placeholder="First Name" name="FirstName" type="text" autofocus>
							</div>
							<div class="form-group">
								<input class="form-control" ng-model="LastName" placeholder="Last Name" name="LastName" type= "text">
							</div>

							<div class="form-group">
								<input class="form-control" ng-model="EmailId" placeholder="E-mail" name="email" type="email">
							</div>


							<div class="form-group">
								<input class="form-control" placeholder="Password" name="password" ng-model="Password" type="password" value="">
							</div>

							<!-- Change this to a button or input when using this as a form -->
							<button type="button" class="btn btn-success btn-block" ng-click="RegisterUser()">Register</button>
							<p>Go Back to Login? <a href="" ng-click="go('/')" class="">Login</a></p>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>